<div  class="export-container">
  <button class="export-btn" (click)="exportPdf()">📥 Descargar PDF</button>
</div>


<div class="chat-container" #chatContent>
  <div *ngFor="let monthGroup of messages;"> 
    <div class="month-header">
      {{ monthGroup.monthName }} {{ monthGroup.year }}
    </div>

    <div *ngFor="let dayGroup of monthGroup.dayGroup;">
      <div style="display: flex; justify-content: center; margin-top: 12px;">
        <div class="date-header">
          {{ dayGroup.date | date:'d MMMM yyyy' }}
        </div>
      </div>

      <div class="chat-container-msg">
        <ng-container *ngFor="let item of dayGroup.messageGroups;">
          <div *ngIf="item.type === 'stickerRow'" [ngClass]="{'me-row': item.isMe, 'other-row': !item.isMe}" class="sticker-row">
            <div *ngFor="let msg of item.messages"
                 [ngClass]="{'me': msg.isMe, 'other': !msg.isMe, 'sticker-message': msg.stickerUrl}"
                 class="message">
              <div *ngIf="msg.stickerUrl">
                <img  [src]="msg.stickerUrl" class="sticker" />
              </div>
              <div class="meta">
                {{ msg.date | date:'HH:mm' }}
              </div>
            </div>
          </div>

          <div *ngIf="item.type === 'message'" [ngClass]="{'me': item.message.isMe, 'other': !item.message.isMe, 'sticker-message': item.message.stickerUrl}" class="message">
            <div *ngIf="item.message.stickerUrl">
              <img [src]="item.message.stickerUrl" class="sticker" /> 
            </div>

            <div *ngIf="item.message.imageUrl">
              <img [src]="item.message.imageUrl" class="image" />
            </div>

            <div *ngIf="item.message.qrCode" class="audio-block">
              <img  [src]="item.message.qrCode" class="qr" />
              <div class="qr-links">
                <a *ngIf="item.message.audioUrl" class="qr-text" [href]="item.message.audioUrl" target="_blank">🔊</a>
                <a *ngIf="item.message.videoUrl" class="qr-text" [href]="item.message.videoUrl" target="_blank">📽️</a>
              </div>
            </div> 
  
            <div *ngIf="item.message.text" class="text">
              {{ item.message.text }}
            </div>  

            <div class="meta">
              {{ item.message.date | date:'HH:mm' }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


