<div class="export-container">
  <button class="export-btn" (click)="exportPdf()">📥 Descargar PDF</button>
</div>

<div class="chat-container" #chatContent>
  <div *ngFor="let monthGroup of messages;">
      <div class="month-header">
        {{ monthGroup.monthName }} {{ monthGroup.year }}
      </div>

    <div *ngFor="let dayGroup of monthGroup.dayGroup;">
      <div style="display: flex; justify-content: center; margin-top: 12px;">
        <div class="date-header">
          {{ dayGroup.date | date:'d MMMM yyyy' }}
        </div>
      </div>

      <div class="chat-container-msg">
        <div *ngFor="let msg of dayGroup.messages;"
            [ngClass]="{'me': msg.isMe, 'other': !msg.isMe, 'sticker-message': msg.stickerUrl}"
            class="message">

          <div *ngIf="msg.stickerUrl">
            <img src="{{msg.stickerUrl}}" class="sticker" />
          </div>

          <div *ngIf="msg.imageUrl">
            <img src="{{msg.imageUrl}}" class="image" />
          </div>

          <div *ngIf="msg.qrCode" class="audio-block">
            <img src="{{msg.qrCode}}" class="qr" />
            <div *ngIf="msg.audioUrl" class="qr-text">🔊</div>
            <div *ngIf="msg.videoUrl" class="qr-text">📽️</div>
          </div>

          <div *ngIf="msg.text" class="text">
            {{ msg.text }}
          </div>

          <div class="meta">
            {{ msg.date | date:'HH:mm' }}
  </div>
</div>

