

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Roboto';
  background-image: url('/assets/chat-bg.png');
  background-repeat: repeat;   
  background-size: auto;      
}


.date-header {
  display: flex;
  align-items: center;
  margin: 12px 270px;
  padding: 4px 12px;
  border-radius: 999px;
  background: lightgrey;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  max-width: fit-content;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}


.message {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 18px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
  font-size: 16px;
}

.sticker {
  width: 120px;
}

.image {
  width: 200px;
}

.me {
  align-self: flex-end;
  background-color: #dcf8c6;
  border-bottom-right-radius: 4px;
}

.other {
  align-self: flex-start;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 4px;
}

.meta {
  font-size: 10px;
  text-align: right;
  opacity: 0.6;
}

.audio-block {
  text-align: center;
  padding: 10px;
}

.qr {
  width: 150px;
  height: 150px; 
  /* image-rendering: pixelated; */
 }

.qr-text {
  font-size: 20px;
}

.message.sticker-message {
  background-color: transparent;
  box-shadow: none;
  border: none;
}  